.meSection {
    color: var(--text-secondary);
    width: 100vw;
    margin-left: calc(50% - 50vw);
    background-color: var(--bg-surface);
    padding-top: var(--space-6);
    padding-bottom: var(--space-6);
    display: flow-root;
}

.careerSection {
    /* 画面左端に寄せる */
    width: 100vw;
    margin-left: calc(50% - 50vw);
    text-align: left;
    margin-top: 5%;
    padding-left: 0.5%;
}

.sectionHead {
    text-align: left;
    width: 100vw;
    padding: 0.5vw;
    padding-left: 1vw;
    margin-left: calc(50% - 50vw);
    background-color: var(--bg-elevated);
}

.timeline {
    list-style: none;
    margin: 0;
    padding: 0 0 0 1.8rem;
    position: relative;
    font-size: var(--text-lg);
}

.timeline::before {
    content: "";
    position: absolute;
    left: 0.6rem;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: var(--border-default);
}

.timelineItem {
    position: relative;
    padding: 0.5rem 0 0.9rem 0.5rem;
}

.timelineItem::before {
    content: "";
    position: absolute;
    left: -0.1rem;
    top: 0.75rem;
    width: 0.7rem;
    height: 0.7rem;
    border-radius: var(--radius-full);
    background-color: var(--color-primary-400);
}

.timelineYear {
    font-size: var(--text-xl);
    font-weight: var(--font-semibold);
    margin-bottom: var(--space-1);
}

.timelineDetails {
    list-style: none;
    margin: 0;
    padding: 0 0 0 0.8rem;
}

.timelineDetails > li {
    position: relative;
    margin: 0.35rem 0;
}

.timelineDetails > li::before {
    content: "";
    position: absolute;
    left: -0.8rem;
    top: 0.7em;
    width: 0.6rem;
    border-top: 2px solid var(--border-default);
}
