.header,
.headerTransparent {
  position: fixed;
  width: 100vw;
  height: 9vw;
  top: 0;
  left: 0;
  z-index: 10;

  /* 中身の要素を横並びにする */
  display: flex;

  /* ロゴ と ナビの中心線を揃える */
  align-items: center;
}

.header {
  /* 背景より少し明るくする。*/
  background-color: #2F2F2F;
}

.headerTransparent {
  background-color: transparent;
}
.headerelement {
  display: flex;
  align-items: center;

  font-size: 15px;
}

.icons {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-size: 20px;
  line-height: 1;

  padding: 5px;
}

.left {
  width: 20vw;
  font-size: 10px;
}

.center {
  font-size: 20px;
}

.center nav {
  /* この２つはセット */
  display: flex;
  gap: 1.5vw;
  /* この２つはセット */
}

.right {
  width: 20vw;
}