.header {
  position: fixed;
  width: 100%;
  height: 9%;
  top: 0;
  left: 0;

  /* 中身の要素を横並びにする */
  display: flex;

  /* ロゴ と ナビの中心線を揃える */
  align-items: center;

  /* 背景より少し明るくする。*/
  background-color: #2F2F2F;
}

.left {
  width: 20%;
}

.center {
  font-size: large;
}

.center nav {
  /* この２つはセット */
  display: flex;
  gap: 24px;
  /* この２つはセット */
}

.right {
  width: 20%;
}