h2 {
    margin: 0;
}
.text {
    justify-content: center;
    display: flex;
    gap: var(--space-5);
}

.icons {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-size: var(--text-xl);
    line-height: 1;

    padding: var(--space-1);

    /* アイコンとテキストの位置を揃える */
    vertical-align: middle;
}
