h2 {
    margin: none;
}
.text {
    justify-content: center;
    display: flex;
    gap: 20px;
}

.icons {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-size: 20px;
    line-height: 1;

    padding: 5px;

    /* アイコンとテキストの位置を揃える */
    vertical-align: middle;
}